# python
__pycache__

# game files
filesystem/
filesystem_edited/
out/

# mkdocs
site/

# other tools
.obsidian/
extratools/

# developer stuff
.idea/
dev_only/
doc_development/
addon_source/gmf2_tools.zip